<!doctype html>
<html ng-app="testeApp">
  <head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="controles.js">
      
    </script>
    <style type="text/css">
      #atualizar{
        display: none;
      }
      #cada{float: left;}
      #cadb{float: right;}
      form{margin-top: 20px;}
    </style>
  </head>
  <body ng-controller="priCont">
    <div class="col-md-offset-4 col-md-4">


    <div >
      <input type="text" class="form-control" ng-model="criterioDeBusca" placeholder="Busca">
        <table ng-show="books.length > 0" class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th><a href="" ng-click="ordenarPor('autor')"> Autor</a></th>
              <th><a href="" ng-click="ordenarPor('livro')">Livro</a></th>
            </tr>
          </thead>
          <tbody id="lista">
            <tr ng-repeat="test in test1 | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
              <td><input type="checkbox" ng-model="autor.selecionado"/></td>
              <td>{{test.nome}}</td>
              <td>{{test.titulo}}</td>
            </tr>

          </tbody>
        </table>

      <form name="autorForm">
          <input class="form-control" type="text" ng-model="autor.nome" name="firstName" placeholder="Nome" ng-required="true" ng-minlength="10"/>
          <input class="form-control" type="text" ng-model="autor.sobrenome" name="lastName" placeholder="sobrenome" ng-minlength="20" ng-required="true" />
          
        <button class="btn btn-primary btn-block" ng-click="adicionarAutor(autor)" >Adicionar Contato</button>
      </form>



      
       
      </div>
    <div style="text-align: center;">
      Teste INDT
    </div>






  <!--   <div ng-show="autorForm.nome.$invalid && autorForm.nome.$dirty" ng-messages="autorForm.nome.$error">
       <div ng-message="required" class="alert alert-danger"> 
        Por favor, preencha o campo nome!
       </div> 
      <div ng-message="minlength" class="alert alert-danger">
        O campo nome deve ter no mínimo 5 caracteres.
      </div>
    </div>

      <div ng-show="autorForm.sobrenome.$error.required && autorForm.sobrenome.$dirty" class="alert alert-danger">
        Por favor, preencha o campo sobrenome!
      </div>
      <div ng-show="autorForm.sobrenome.$error.pattern" class="alert alert-danger">
        O campo nome deve ter no mínimo 5 caracteres.
      </div>  -->

     
      <!-- <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <div>{{titulo}}</div>
      <h1>Hello {{yourName}}!</h1> -->
    </div>
  </body>
</html>